---
import {
  standarPriceFormatter,
  translateStatusToSpanish,
  translateTypeToSpanish,
} from '../service/formatterUtils.js';
import '../css/card.css';
const {
  property,
  width,
  height,
  marginBottom,
  marginRight,
  flexGrow = 1,
  flexShrink = 1,
  flexBasis = '250px',
} = Astro.props;
const {
  price,
  slug,
  mainImage,
  address,
  formattedAddress,
  state,
  city,
  neighborhood,
  images,
  type,
  status,
  toilet,
  bedroom,
  parking,
  landSquareMeters,
  builtSquareMeters,
} = property;
---

<a
  href={`/propiedades/${slug}`}
  class="card-container card-link-wrapper"
  style={`width: ${width}; 
  height: ${height}; 
  margin-bottom: ${marginBottom}; 
  margin-right: ${marginRight};
  flex-grow: ${flexGrow};
  flex-shrink: ${flexShrink};
  flex-basis: ${flexBasis};`}
>
  <img src={mainImage} alt="" />
  <div class="card-content">
    <!-- STATUS TAG -->
    <div class="status-tag-container">
      <span class="status-tag-text">{translateStatusToSpanish(status)}</span>
    </div>

    <!-- BODY -->
    <div class="body-card-container">
      <span class="card-property-price">{standarPriceFormatter(price)}</span>
    </div>

    <!-- FOOTER CARD -->
    <div class="footer-card-container">
      <div class="footer-card-container-address">
        <p class="footer-card-text">{formattedAddress}</p>
        <p class="footer-card-text">
          {`${landSquareMeters}m² Terreno | ${builtSquareMeters}m² Construcción`}
        </p>
        <ul>
          <li>
            <i class="fa-solid fa-tags"></i>
            {translateTypeToSpanish(type)}
          </li>
          <li><i class="fa-solid fa-bed"></i> {bedroom}</li>
          <li><i class="fa-solid fa-toilet"></i> {toilet}</li>
          <li><i class="fa-solid fa-car"></i> {parking}</li>
        </ul>
      </div>
    </div>
  </div>
</a>
